// <div className="w-100" style={{ maxWidth: '400px' }}>
    // <Card className="shadow-sm">
        // <Card.Body>
            // <h2 className="text-center mb-4">Enter 2FA Code</h2>
            // <Form onSubmit={confirm2FA}>
                // <Form.Group id="twofa" className="mb-3">
                    // <Form.Label>2FA Code</Form.Label>
                    // <Form.Control // type="text" // required // value={code} // onChange={(e)=>
                        setCode(e.target.value)}
                        // isInvalid={!!errors.twofa}
                        // />
                        // <Form.Control.Feedback type="invalid">
                            // {errors.twofa}
                            // </Form.Control.Feedback>
                        // </Form.Group>

                // <Button disabled={loading} className="w-100 bg-dark" type="submit">
                    // {loading ? 'Verifying...' : 'Verify 2FA Code'}
                    // </Button>
                // </Form>
            // </Card.Body>
        // </Card>
    // </div>